<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Report</h4>
  </div>
  <div class="modal-body">
    <textarea type="text" ng-model="report_content" placeholder="Input report content here" maxlength="1000" style="width:100%;min-height:200px"></textarea>
    <span style="line-height:30px;font-size:12px;">Remaining: {{1000 - report_content.length}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss();OnReport(report_content);" ng-disabled="report_content == undefined || report_content == ''">Report Now</button>
  </div>
</div>
