<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <!-- <a href="/dashboard" class="al-logo clearfix"><span>Who</span>rub</a> -->
  <!--<a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>-->
  <div class="animated flip">
    <a href="/#/home//" class="al-logo clearfix"><img src="assets/img/logo.jpg"/><!--<span>Who</span>rub--></a>
  </div>
  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown ng-hide="!logined">
      <a uib-dropdown-toggle class="collapse-menu-link ion-navicon"></a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <!-- <li><a href="/#/home//"><i class="fa fa-home"></i>Home</a></li> -->
        <li><a href=""><i class="fa fa-user"></i>{{username}}</a></li> <!--/profile-->
        <li><a href><i class="fa fa-cog"></i>Credits: ${{budget / 100}}</a></li>
        <li><a href="/#/myads"><i class="fa fa-folder-o"></i>My Ads</a></li>
        <!-- <li><a href="/messages"><i class="fa fa-envelope"></i>Messages</a></li> -->
        <li><a href="/#/conversations"><i class="fa fa-envelope"></i>Messages</a></li>
        <li><a href="/#/budget"><i class="fa fa-shopping-cart"></i>Buy Credit</a></li>
        <li><a href="/#/postad"><i class="fa fa-bullhorn"></i>Post Ad</a></li>
        <li><a href="/#/changepwd"><i class="fa fa-shield"></i>Change Password</a></li>
        <!-- <li><a href="/reviews"><i class="fa fa-book"></i>Reviews</a></li> -->
        <li><a href="/#/users" ng-if="isAdmin"><i class="fa fa-users"></i>Users</a></li>
        <li><a href="/#/ads" ng-if="isAdmin"><i class="fa fa-clone"></i>All Ads</a></li>
        <li><a href="/#/categories" ng-if="isAdmin"><i class="fa fa-folder"></i>Categories</a></li>
        <li><a href="/#/reports" ng-if="isAdmin"><i class="fa fa-bell"></i>Reports</a></li>
        <li><a href="/#/locations" ng-if="isAdmin"><i class="fa fa-map"></i>Locations</a></li>
        <li><a href="/#/logout" class="signout"><i class="fa fa-power-off"></i>Log out</a></li>
      </ul>
    </div>
    <div class="al-user-profile hidden-sm hidden-md hidden-lg" uib-dropdown ng-hide="logined">
      <a uib-dropdown-toggle class="collapse-menu-link ion-navicon"></a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <!--<li><a href=""><i class="fa fa-user"></i>{{username}}</a></li>--> <!--/profile-->
        <li><a href="/#/login"><i class="fa fa-sign-in"></i>Login</a></li>
        <li><a href="/#/register"><i class="fa fa-lock"></i>Signup</a></li>
      </ul>
    </div>
    <msg-center class="hidden-sm hidden-xs"></msg-center>
    <a style="line-height:42px;margin-right:20px" href="/#/login" ng-hide="logined" class="hidden-xs">LOGIN</a>
    <a style="line-height:42px;margin-right:20px" href="/#/register" ng-hide="logined" class="hidden-xs">SIGN UP</a>
    <!--www.iconfinder.com/iconsets/flags_gosquared-->
    <!--<select class="" style="padding:5px;border-radius:10px">
      <option data-image="assets/img/ko.png" value="0" selected>English</option>
      <option value="1">Japanese</option>
      <option value="2">Korean</option>
    </select>-->
    <a href="/#/postad"><button class="btn btn-info" style="margin-right:20px">Post AD</button></a>
    
  </div>
</div>