
<div class="clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}"><!--page-top -->
  <div id="particles-js" class="page-top clearfix" style="background-color:#47a3da;height:100px"></div>
  
  <div class="page-top">
    <a href="/#/home/1/1" class="al-logo">               
      <!-- <img src="assets/img/logo.jpg"/> -->
      <div class="tlt">
        <ul class="texts">
          <li data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">Whorub</li>
          <li data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">Whorub</li>
          <li data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">Whorub</li>
        </ul>
      </div>
    </a>
  </div>
  <div class="page-top user-profile">
    <div class="al-user-profile" uib-dropdown ng-hide="!logined">
      <a uib-dropdown-toggle class="collapse-menu-link ion-navicon"></a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="/#/home//"><i class="fa fa-home"></i>Home</a></li>
        <li><a href=""><i class="fa fa-user"></i>{{username}}</a></li> <!--/profile-->
        <li><a href="/#/postad"><i class="fa fa-pencil"></i>Post Ad</a></li>
        <li><a href><i class="fa fa-cog"></i>Credits: ${{(budget / 100).toLocaleString()}}</a></li>
        <li><a href="/#/myads"><i class="fa fa-folder-o"></i>My Ads</a></li>
        <!-- <li><a href="/messages"><i class="fa fa-envelope"></i>Messages</a></li> -->
        <li><a href="/#/conversations"><i class="fa fa-envelope"></i>Messages</a></li>
        <li><a href="/#/budget"><i class="fa fa-shopping-cart"></i>Buy Credit</a></li>
        <!--<li><a href="/#/postad"><i class="fa fa-bullhorn"></i>Post Ad</a></li>-->
        <li><a href="/#/changepwd"><i class="fa fa-shield"></i>Change Password</a></li>
        <!-- <li><a href="/reviews"><i class="fa fa-book"></i>Reviews</a></li> -->
        <li><a href="/#/users" ng-if="isAdmin"><i class="fa fa-users"></i>Users</a></li>
        <li><a href="/#/ads" ng-if="isAdmin"><i class="fa fa-clone"></i>All Ads</a></li>
        <li><a href="/#/categories" ng-if="isAdmin"><i class="fa fa-folder"></i>Categories</a></li>
        <li><a href="/#/reports" ng-if="isAdmin"><i class="fa fa-bell"></i>Reports</a></li>
        <li><a href="/#/locations" ng-if="isAdmin"><i class="fa fa-map"></i>Locations</a></li>
        <li><a href="/#/logout" class="signout"><i class="fa fa-power-off"></i>Log out</a></li>
      </ul>
    </div>
    <div class="al-user-profile hidden-sm hidden-md hidden-lg" uib-dropdown ng-hide="logined">
      <a uib-dropdown-toggle class="collapse-menu-link ion-navicon"></a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <!--<li><a href=""><i class="fa fa-user"></i>{{username}}</a></li>--> <!--/profile-->
        <li><a href="/#/login"><i class="fa fa-sign-in"></i>Login</a></li>
        <li><a href="/#/register"><i class="fa fa-lock"></i>Signup</a></li>
      </ul>
    </div>
    <msg-center class="hidden-xs" ng-hide="!logined"></msg-center>
    <a class="al-user-profile hidden-xs" style="margin-right:50px" href="/#/login" ng-hide="logined" class="hidden-xs">
      <span id="#" class="bsn bsn-default">
        <span class="mask"></span>
        <span class="bsn-label">
          <b><i class="fa fa-sign-in"/> LOG IN</b>
        </span>
      </span>
    </a>
    <a class="al-user-profile hidden-xs" style="margin-right:90px;" href="/#/register" ng-hide="logined" class="hidden-xs">
      <span id="#" class="bsn bsn-default">
        <span class="mask"></span>
        <span class="bsn-label">
          <b><i class="fa fa-user-plus"/> SIGN UP</b>
        </span>
      </span>
    </a>
    <!--www.iconfinder.com/iconsets/flags_gosquared-->
    <!--<select class="" style="padding:5px;border-radius:10px">
      <option data-image="assets/img/ko.png" value="0" selected>English</option>
      <option value="1">Japanese</option>
      <option value="2">Korean</option>
    </select>-->
    <a class="al-user-profile hidden-xs" href="/#/postad" style="margin-right:110px">
      <span id="#" class="bsn bsn-default alternate-bg">
        <span class="mask"></span>
        <span class="bsn-label">
          <b><i class="fa fa-pencil"/> POST AD</b>
        </span>
      </span>
    </a>
  </div>
</div>