<div class="auth-main" ng-controller="EditController">
    <div class="auth-full">
      <div class="col-md-offset-3 col-md-6 animated fadeInUp" id="mainfield">
        <!--whole main start -->
        <h3 style="text-align:center;">AD Information</h3>
        <div class="form-group" ng-if="ad.category_name!='Massage'">
          <label for="input01">Name:<span style="color:#e85656">*</span></label>
          <input type="text" class="form-control" placeholder="Name" maxlength="30" minlength="3" ng-model="ad.post_name" value="Default Name"
            style="background:white" required>
          <span class="col-sm-offset-1" style="line-height:30px;font-size:12px;">Remaining: {{30 - ad.post_name.length}}</span>
        </div>
        <div class="form-group">
          <label for="input01">Title:<span style="color:#e85656">*</span></label>
          <input type="text" class="form-control" placeholder="Title" maxlength="100" ng-model="ad.post_title" value="Default Title"
            style="background:white" required>
          <span class="col-sm-offset-1" style="line-height:30px;font-size:12px;">Remaining: {{100 - ad.post_title.length}}</span>
        </div>
        <div class="form-group">
          <label for="textarea01">Description:<span style="color:#e85656">*</span></label></label>
          <textarea placeholder="Description" class="form-control" id="textarea01" ng-model="ad.post_desc" value="Default Desc" 
            style="background:white" required></textarea>
        </div>
        <div class="form-group">
          <label for="input01">Website URL:</label>
          <input type="text" class="form-control" placeholder="http://www.xyz.com" maxlength="50" ng-model="ad.url"
            style="background:white">
        </div>
        <div class="form-group">
          <label for="input01">Contact Phone:</label>
          <input type="text" class="form-control" placeholder="Contact Phone" maxlength="50" ng-model="ad.phone"
            style="background:white">
        </div>
        <div class="form-group">
          <label for="input01">Contact Method:</label>
          <div class="input-demo radio-demo row">
            <div class="col-md-offset-1 col-md-3">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" ng-model="ad.contact_method" value="0" checked>
                <span>Call</span>
              </label>
            </div>
            <div class="col-md-3">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" ng-model="ad.contact_method" value="1">
                <span>Text</span>
              </label>
            </div>
          </div>
        </div>
        <!--
        <div class="form-group">
          <label for="input01">Email:</label>
          <input type="email" class="form-control" placeholder="Email" maxlength="100" ng-model="ad.email" style="background:white">
        </div>
        <div class="form-group">
          <label for="input01">Hide my Email:</label>
          <div class="input-demo radio-demo row">
            <div class="col-md-offset-1 col-md-3">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" ng-model="ad.show_email" value="0" checked>
                <span>Yes</span>
              </label>
            </div>
            <div class="col-md-3">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" ng-model="ad.show_email" value="1">
                <span>No</span>
              </label>
            </div>
          </div>
        </div>-->
        <hr/>
        <h3 style="text-align:center;">Location</h3>
        <div class="form-group">
          <label for="input01">Provide your location to appear in map view</label>
        </div>
        <div class="form-group">
          <label for="input01">Address:</label>
          <input type="text" class="form-control" placeholder="Address" maxlength="50" ng-model="ad.addr" style="background:white">
        </div>
        <hr/>
        <form name="uploadForm" id="uploadForm" action="https://localhost:3009/advertisements/33/upload" method="post" encType="multipart/form-data">
          <h3 style="text-align:center;">Post Profile Image</h3>
          <div class="form-group">
            <label for="input01">This image will show up as your profile image</label>
            <input type="file" id="imgProfile" name="imgProfile" class="form-control" style="background:white"
              onchange="angular.element(this).scope().ShowFiles(event);angular.element(this).scope().$apply()">
            <div class="row" style="margin:10px">
              <div style="height:100px;text-align:center;" class="col-sm-6 col-md-2" ng-if="!showProfile">
                <div style="position:relative;padding-top:100%;width:100%">
                  <div style="position:absolute;top:0;left:0;right:0;left:0;height:100%">                    
                      <img ng-src="{{'https://localhost:3009/advertisements/' + ad.post_id + '/image/0'}}" style="height:100%;width:100%;object-fit:contain;border:1px solid blue">
                  </div>
                </div>
              </div>
            </div>            
            <div class="row" style="margin:10px;">
              <div style="height:100px;text-align:center;" class="col-sm-6 col-md-2" ng-if="showProfile">
                <div style="position:relative;padding-top:100%;width:100%">
                  <div style="position:absolute;top:0;left:0;right:0;left:0;height:100%">                    
                    <img img-fix-orientation="showProfile" ng-src="{{showProfile}}" style="height:100%;width:100%;object-fit:contain;border:1px solid blue">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 style="text-align:center;">Post Image(s)</h3>
          <div class="form-group">
            <div class="row" class="margin:10px">
              <div data-ng-repeat="i in [1,2,3,4]" style="height:100px;text-align:center;margin-bottom:20px;" class="col-sm-6 col-md-2">
                <!--img-fix-orientation="showOthers[i]" -->
                <div style="position:relative;padding-top:100%;width:100%">
                  <div style="position:absolute;top:0;left:0;right:0;left:0;height:100%">
                    <img ng-src="{{'https://localhost:3009/advertisements/' + ($index + 1) + '/image/0'}}" style="height:100%;width:100%;object-fit:contain;border:1px solid blue">
                    <!--<div class="btn btn-danger" style="margin:2px" ng-click="RemoveOthers($index)">x</div>-->
                  </div>
                </div>
              </div>
            </div>
            <label for="input01">You may add up to 4 photo(s) to your post. Absolutely no nude or explicit photos. </label>
            <input type="file" id="imgOther" name="imgOther" class="form-control" style="background:white"
              multiple onchange="angular.element(this).scope().ShowFiles1(event);angular.element(this).scope().$apply()"><!-- accept="image/*"-->
            <div class="row" class="margin:10px">
              <div data-ng-repeat="i in GetOthers()" style="height:100px;text-align:center;" class="col-sm-6 col-md-2">
                <!--img-fix-orientation="showOthers[i]" -->
                <div style="position:relative;padding-top:100%;width:100%">
                  <div style="position:absolute;top:0;left:0;right:0;left:0;height:100%">
                    <img img-fix-orientation="showOthers[i]" ng-src="{{showOthers[i]}}" style="height:100%;width:100%;object-fit:contain;border:1px solid blue">
                    <div class="btn btn-danger" style="margin:2px" ng-click="RemoveOthers($index)">x</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="submit" style="visibility:hidden;">
        </form>
        <hr style="clear:both"/>
        <h3 style="text-align:center;">Auto Repost</h3>
        <div class="form-group">
          <div class="row">
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" id="inlineCheckbox01" ng-model="ad.repost">
              <span>Enable Repost</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Working hours:</label>
          <div class="row">
              <div class="col-md-6">
                <select class="form-control" title="Opening hours" ng-model="ad.work_hour1" ng-disabled="!ad.repost">
                  <option label="0:00 AM" value="0">0:00 AM</option>
                  <option label="1:00 AM" value="1">1:00 AM</option>
                  <option label="2:00 AM" value="2">2:00 AM</option>
                  <option label="3:00 AM" value="3">3:00 AM</option>
                  <option label="4:00 AM" value="4">4:00 AM</option>
                  <option label="5:00 AM" value="5">5:00 AM</option>
                  <option label="6:00 AM" value="6">6:00 AM</option>
                  <option label="7:00 AM" value="7">7:00 AM</option>
                  <option label="8:00 AM" value="8">8:00 AM</option>
                  <option label="9:00 AM" value="9">9:00 AM</option>
                  <option label="10:00 AM" value="10">10:00 AM</option>
                  <option label="11:00 AM" value="11">11:00 AM</option>
                  <option label="12:00 AM" value="12">12:00 NOON</option>
                  <option label="1:00 PM" value="13">1:00 PM</option>
                  <option label="2:00 PM" value="14">2:00 PM</option>
                  <option label="3:00 PM" value="15">3:00 PM</option>
                  <option label="4:00 PM" value="16">4:00 PM</option>
                  <option label="5:00 PM" value="17">5:00 PM</option>
                  <option label="6:00 PM" value="18">6:00 PM</option>
                  <option label="7:00 PM" value="19">7:00 PM</option>
                  <option label="8:00 PM" value="20">8:00 PM</option>
                  <option label="9:00 PM" value="21">9:00 PM</option>
                  <option label="10:00 PM" value="22">10:00 PM</option>
                  <option label="11:00 PM" value="23">11:00 PM</option>
                </select>
              </div>
              <div class="col-md-6">
                <select class="form-control" title="Closing hours" ng-model="ad.work_hour2" ng-disabled="!ad.repost">
                  <option label="0:00 AM" value="0">0:00 AM</option>
                  <option label="1:00 AM" value="1">1:00 AM</option>
                  <option label="2:00 AM" value="2">2:00 AM</option>
                  <option label="3:00 AM" value="3">3:00 AM</option>
                  <option label="4:00 AM" value="4">4:00 AM</option>
                  <option label="5:00 AM" value="5">5:00 AM</option>
                  <option label="6:00 AM" value="6">6:00 AM</option>
                  <option label="7:00 AM" value="7">7:00 AM</option>
                  <option label="8:00 AM" value="8">8:00 AM</option>
                  <option label="9:00 AM" value="9">9:00 AM</option>
                  <option label="10:00 AM" value="10">10:00 AM</option>
                  <option label="11:00 AM" value="11">11:00 AM</option>
                  <option label="12:00 AM" value="12">12:00 NOON</option>
                  <option label="1:00 PM" value="13">1:00 PM</option>
                  <option label="2:00 PM" value="14">2:00 PM</option>
                  <option label="3:00 PM" value="15">3:00 PM</option>
                  <option label="4:00 PM" value="16">4:00 PM</option>
                  <option label="5:00 PM" value="17">5:00 PM</option>
                  <option label="6:00 PM" value="18">6:00 PM</option>
                  <option label="7:00 PM" value="19">7:00 PM</option>
                  <option label="8:00 PM" value="20">8:00 PM</option>
                  <option label="9:00 PM" value="21">9:00 PM</option>
                  <option label="10:00 PM" value="22">10:00 PM</option>
                  <option label="11:00 PM" value="23">11:00 PM</option>
                </select>
              </div>
            </div>
        </div>
        
        <div class="form-group">
          <label for="input01">Move your ad to the top of listing every</label>
          <div class="row">
            <div class="col-md-6">
              <select class="form-control" title="Choose" ng-model="ad.repost_interval" ng-disabled="!ad.repost">
                  <option label="1 Hour" value="1">1 Hour</option>
                  <option label="2 Hours" value="2">2 Hours</option>
                  <option label="3 Hours" value="3">3 Hours</option>
                  <option label="4 Hours" value="4">4 Hours</option>
                  <option label="5 Hours" value="5">5 Hours</option>
                  <option label="6 Hours" value="6">6 Hours</option>
                  <option label="7 Hours" value="7">7 Hours</option>
                  <option label="8 Hours" value="8">8 Hours</option>
              </select>
            </div>
          </div>
          <label>Repost count</label>
          <div class="row">
            <div class="col-md-6">
              <select class="form-control" title="Choose" ng-model="ad.repost_count" ng-disabled="!ad.repost">
                  <option label="1 Time" value="1">1 Time</option>
                  <option label="5 Times" value="5">5 Times</option>
                  <option label="10 Times" value="10">10 Times</option>
                  <option label="20 Times" value="20">20 Times</option>
                  <option label="50 Times" value="50">50 Times</option>
                  <option label="100 Times" value="100">100 Times</option>
                  <option label="500 Times" value="500">500 Times</option>
              </select>
            </div>
          </div>
        </div>
        <hr/>
        <h3 style="text-align:center;">Recommended Upgrades</h3>
        <div class="form-group">
          <h6><label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" id="inlineCheckbox01" ng-model="ad.premium_open">
            <span><strong>Premium Post ($400 for 30 Days)</strong></span>
          </label></h6>
        </div>
        <div class="form-group">
            <img src="assets/img/template.jpg">
          </div>
        <div class="form-group">
          <ul>
            <li>Premium placement on the homepage</li>
          </ul>
          <div class="form-group">
            <label for="input01">Select your time period for Premium position:</label>
            <select class="form-control" title="Choose" style="max-width:300px" ng-disabled="!ad.premium_open" ng-model="ad.premium_period">
              <option label="1 Month" value="1">1 Month</option>
              <option label="2 Months" value="2">2 Months</option>
              <option label="3 Months" value="3">3 Months</option>
              <option label="4 Months" value="4">4 Months</option>
            </select>
          </div>
        </div>
        <!-- <div class="auth-sep"></div>
        <div class="form-group">
          <label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-model="bAgreement">
            <span>By placing this ad I agree to terms of use.</span>
          </label>
        </div> ng-disabled="!bAgreement"-->
        <div class="form-group">
          <div class="row" style="margin-top:50px">
            <button class="btn btn-info btn-auth"  ng-click="OnOK()">Update</button>
          </div>
        </div>
      </div>
      <!--whole main end -->
    </div>
  </div>