<div class="auth-main">
  <div class="auth-full">
    <div class="row" style="margin-bottom:40px">
      <div class="col-md-offset-1 col-md-3 label-default" style="text-align:center;margin-right:5px;padding:10px;color:lightgrey" ng-click="">Step 1: Ad Information</div>
      <div class="col-md-3 label-default" style="text-align:center;margin-right:5px;padding:10px;color:lightgrey" ng-click="">Step 2: Preview</div>
      <div class="col-md-3 label-default" style="text-align:center;margin-right:5px;padding:10px;color:lightgrey" ng-click="">Step 3: Payment</div>
    </div>
    <div class="col-md-offset-3 col-md-6 animated fadeIn">
      <h5>Thank you for your purchase.<br>Your card statement will show as Whorub llc.</h5>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <a href="/#/home//"><button type="submit" class="btn btn-primary btn-auth">Close</button></a>
        </div>
      </div>
    </div>
  </div>
</div>