<div class="auth-main" ng-controller="MyAdsController">
  <div class="auth-full">
    <div>Credit: ${{budget / 100}}</div>
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>My ads</strong></div>
      <div class="panel-body">
        <table class="table tableCu animated fadeIn">
          <thead>
            <tr>
              <!--<th>#</th>-->
              <th>Date</th>
              <th>Location</th>
              <th>Title</th>
              <th>Category</th>
              <th>Type</th>
              <th>Status</th>
              <th>Open/Close</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ad in ads">
              <!--<td>{{10 * currentPage + $index + 1}}</td>-->
              <td>{{ad.post_time}}</td>
              <td>{{ad.city_name}}</td>
              <td>{{ad.post_title}}</td>
              <td>{{ad.category_name}}</td>
              <td>
                <div>{{ad.premium_open?"VIP AD":""}}</div>
              </td>
              <td>Live</td>
              <td style="padding-top:5px">
                <ba-switcher switcher-style="info" switcher-value="ad.opened" ng-mousedown="OnOpen($index, !ad.opened)"></ba-switcher>
              </td>
              <td>
                <a ng-click="GoEdit($index);">Edit</a>
                <a ng-click="GoView($index);">View</a>
                <a ng-click="OpenWindow('app/pages/myads/deleteconfirm.html', 'md', $index)">Delete</a>
                <!--<button class="btn btn-info badge btn-sq" ng-click="GoEdit($index);">
                  <i class="glyphicon glyphicon-pencil"/>
                </button>
                <button class="btn btn-warning badge btn-sq" ng-click="GoView($index);">
                  <i class="glyphicon glyphicon-folder-open"/>
                </button>
                <button class="btn btn-danger badge btn-sq" ng-click="GoDelete($index);">
                  <i class="glyphicon glyphicon-trash"/>
                </button></td>-->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col col-md-8">Page {{currentPage + 1}} of {{(total+9)/10 | floor}}</div>
          <div class="col col-md-4">
            <div paging page="currentPage+1" page-size="10" total="total" show-prev-next="true" show-first-last="true" paging-action="OnPage(page-1)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>