<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Create New City</h4>
  </div>
  <div class="modal-body">
    <input type="text" ng-model="newCityName" style="width:100%">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss();CreateNewCity(selectedId, newCityName);" ng-disabled="newCityName == undefined || newCityName == ''">Create</button>
  </div>
</div>
