<div class="auth-main" ng-controller="SelLocationController">
  <div class="auth-full">
    <div class="col-md-3 col-sm-6" ng-repeat="i in [0,1,2,3]" style="padding:50px">
      <div ng-repeat="j in splits[i]" class="animated zoomIn">
        <div class="input-group ng-scope" ng-click="locations[j].expanded=!locations[j].expanded">
          <button class="btn btn-primary" style="width:180px;">{{locations[j].state_name}}</label>
          <!-- <div style="float:right;margin-top:-25px;margin-right:10px;">
            <i class="glyphicon glyphicon-menu-down" ng-if="!locations[j].expanded"></i>
            <i class="glyphicon glyphicon-menu-up" ng-if="locations[j].expanded"></i>
          </div> -->
        </div>
        <div class="input-group ng-scope" style="margin-left:30px;" ng-if="locations[j].expanded">
          <div ng-repeat="city in locations[j].cities" style="margin-bottom:5px;font-size:14px;line-height:15px"><a ng-click="SelectCity(j, $index)" style="color:#8d8d8d;">{{city.city_name}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>