<div class="auth-main" ng-controller="PostAdController">
  <div class="auth-full">
    <h1>Post an ad</h1>
    <form class="form-horizontal animated zoomIn">
      <div class="form-group">
        <div class="row" style="margin-top:100px">
          <div class="col-sm-offset-1 col-sm-5">
            <button type="submit" class="btn category-btn" ng-click="post()">Post local ad</button>
          </div>
          <div class="col-sm-5">
            <button type="submit" class="btn category-btn" ng-click="multipost()">Post in multiple cities</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>