<div class="auth-main" ng-controller="SelCategoryController">
  <div class="auth-full">
    <h1>{{ad.state_name}} > {{ad.city_name}} </h1><!-- {{categories[ad.category].category_name}}-->
    <h3>Select a Category</h3>
<!--ng-class="{'btn-4': $index % 2==0}"-->
    <div class="row animated fadeIn" style="margin-bottom:20px;padding:0px">
      <div class="col-md-6 col-lg-3" ng-repeat="category in categories"><button class="btn category-btn"  ng-click="SelCategory($index)">{{category.category_name}}</button></div>
    </div>
  </div>
</div>